<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <base href="./">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">A Practical Introduction for Developing and Operating Hybrid Quantum Applications</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
      <nav class="mainNav">
        <ul class="nav-list">
          {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %} {% for p in navigation_pages %} {% if p.navigation_weight %}
          <li class="nav-element">
            <a href="/icwe-tutorial{{ p.url }}" {% if p.url==page.url %}class="active" {% endif %}>
              {{ p.title }}
            </a>
          </li>
          {% endif %} {% endfor %}
        </ul>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
